S -> NP VP | VP
NP -> D N | N | N NP
VP -> V | V NP | V PP | V NP PP
PP -> P NP

# S -> Adv S | NP XP | XP
# VP -> Adv V NP | VP PP
# XP -> VP
# Adv -> # ε

# S -> A S B | B Y | Y A
# Y -> B Y | A Y | # ε
